@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $format: 'woff') {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    @if $format == 'woff' {
      src: url('#{$file-path}.#{$format}') format($format);
    } @else {
      src: url('#{$file-path}.#{$format}') format('truetype');
    }
  }
}

@include font-face('Inter', '../fonts/Inter-SemiBold', 600, semi-bold, 'ttf');
@include font-face('Inter', '../fonts/Inter-Regular', 400, normal, 'ttf');
@include font-face('Poppins', '../fonts/Poppins-Medium', 500, medium, 'ttf');
@include font-face('Poppins', '../fonts/Poppins-SemiBold', 600, semi-bold, 'ttf');
@include font-face('Poppins', '../fonts/Poppins-Regular', 400, normal, 'ttf');
@include font-face('Suisse', '../fonts/SuisseIntl-Regular', 400, bold, 'ttf');
@include font-face('Suisse', '../fonts/SuisseIntl-SemiBold', 600, bold, 'ttf');
@include font-face('PPMori', '../fonts/PPMori-Regular', 400, normal, 'otf');
